
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.Main-one{
    background-color: rgb(110, 110, 224);
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
overflow: hidden;
    margin: auto;
    width: 60%;


}
h6{
    padding: 300px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

.cursol-slides{
   display: flex;
}
.cursol-slides>img{
 height: 500px;

 border: 2px solid white;
}
.Main-two{
    background-color: rgb(230, 230, 238);
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
body{
    border: 1px solid black;
}
a{
    text-decoration: none;
    
}
#image{
    height: 550px;
    width: 550px;
background-color: black;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: 0.5px 0.5px 10px black;
}
.Creden{
    width: 50%;
    opacity: 0;
    transform: translateY(20px);
    transition: 3.5s all ease-in-out ;
}
.Creden-appear{
    width: 50%;opacity: 1;
    transform: translateY(0px);
       transition: 3.5s all ease-in-out ;
}